:host {
  font-family    : Roboto, sans-serif;
  height         : 100%;
  display        : flex;
  flex-direction : column;
}

header {
  padding             : 1.5em .5em 1.5em 4em;
  background          : url(~bryntum-resources/images/logo_bryntum_bw.png) #2667C8;
  background-repeat   : no-repeat;
  background-size     : 30px;
  background-position : center left 1.5em;
  display             : flex;
  align-items         : center;

  h1 {
    margin      : 0;
    font-size   : 1.5em;
    color       : #fff;
    font-weight : normal;
    flex        : 1;
    align-self  : center;
  }

  a {
    color           : inherit;
    text-decoration : none;
  }

  button {
    width         : 2.8em;
    height        : 2.8em;
    background    : #8BC34A;
    border        : none;
    color         : #fff;
    cursor        : pointer;
    font-size     : 1em;
    font-family   : "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    border-radius : 2px;
    margin-right  : .5em;

    &:hover {
      background : #9CCC65;
    }

    &:active {
      background : #9CCC65;
    }

    &:disabled {
      background : #ccbdb8 !important;
      cursor     : default;
    }

    &.red {
      background : #F44336;
    }

    &.red:hover {
      background : #EF5350;
    }
  }

  .sel-event {
    margin-right : 2em;
    align-self   : center;
    color        : #fff;

    span {
      font-size : 1.1em;
    }
  }

  .datePickerContainer {
    margin-right : .5em;
  }

  .barmargin {
    display : inline-flex;
    height  : 2.8em;

    label {
      display         : flex;
      justify-content : center;
      flex-direction  : column;
      color           : #fff;
      margin-right    : .5em;
    }

    input {
      font-size     : 1em;
      font-family   : inherit;
      padding       : .7em;
      border-radius : 2px;
      border        : none;
      margin-right  : 2em;
    }
  }
}

#app {
  font-size      : 14px;
  flex           : 1;
  display        : flex;
  flex-direction : column;
}

bry-scheduler {
  display         : flex;
  flex            : 1;
  flex-direction  : column;
  justify-content : stretch;
}

