.b-sch-label.custom {
    position      : absolute;
    top           : calc(100% + 10px);
    background    : #666;
    padding       : .5em;
    color         : #fff;
}

.b-sch-label.custom::before {
    content      : '';
    height       : 12px;
    border-right : 1px solid #666;
    position     : absolute;
    bottom       : 100%;
    left         : 50%;
}
