<!--
 *- App template
-->
<header>
    <h1><a id="title" href="../../../../#example-angular-drag-onto-tasks">Angular Drag onto Tasks demo</a></h1>
    <bry-fullscreen></bry-fullscreen>
</header>
<div id="content">
    <bry-scheduler
        #scheduler
        [barMargin]         = "schedulerConfig.barMargin"
        [columns]           = "schedulerConfig.columns"
        [crudManager]       = "schedulerConfig.crudManager"
        [endDate]           = "schedulerConfig.endDate"
        [eventBodyTemplate] = "schedulerConfig.eventBodyTemplate"
        [eventColor]        = "schedulerConfig.eventColor"
        [eventRenderer]     = "schedulerConfig.eventRenderer"
        [rowHeight]         = "schedulerConfig.rowHeight"
        [startDate]         = "schedulerConfig.startDate"
        [viewPreset]        = "schedulerConfig.viewPreset"
        [resourceImagePath] = "schedulerConfig.resourceImagePath"
        [timeRangesFeature] = "schedulerConfig.timeRangesFeature"
        [eventMenuFeature]  = "schedulerConfig.eventMenuFeature"
        [eventEditFeature]  = "schedulerConfig.eventEditFeature"
    ></bry-scheduler>
    <app-grid #grid></app-grid>
</div>

<!-- eof -->
